body {
  font-family: Arial;
}

.div1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.div2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.div3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
}

.div4 {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  align-items: center;
  height: 50px;
}

.email-box {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 450px;
  margin-bottom: 40px;
}

.GUI {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 30px;
}

.class-name {
  font-size: 24px;
}

.number {
  cursor: pointer;
  background-color: rgb(49, 109, 245);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  transition: opacity 0.15s;
}
.number:hover {
  opacity: 0.8;
}
.number:active {
  opacity: 0.5;
}


.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 450px;
}


.left-picture {
  margin-left: 15px;
  margin-right: 20px;
  height: 70px;
  width: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.top {
  font-size: 24px;
  font-weight: bold;
}

.text {
  color: rgb(180, 180, 180);
  line-height: 20px;
  font-size: 16px;
}

.follow-button {
  cursor: pointer;
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow 0.15s;
  margin-right: 20px;
}

.follow-button:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(120, 82, 178);
  padding-left: 20px;
  padding-right: 20px;
  width: 1000px;
}

.home {
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.search-bar {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  width: 600px;
  height: 20px;
  border: none;
  border-radius: 20px;
}

.download {
  border-width: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  background-color:rgb(120, 82, 178);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s, opacity 0.15s;
}
.download:hover {
  color: rgb(120, 82, 178); 
  background-color: white;
}
.download:active {
  opacity: 0.8;
}